# Data science with Python Part I

## Introduction to Numpy and pandas

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

print(Series)
print(DataFrame)

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
series_obj = Series(np.arange(8), index=['row1', 'row2', 'row3', 'row4', 
                                             'row5', 'row6', 'row7', 'row8'])
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int64

In [ ]:
series_obj['row7'] # select an element from a series

16

In [ ]:
series_obj[[0,7]] # select a range of elements

row1    10
row8    17
dtype: int64

In [ ]:
np.random.seed(11)
df_obj = DataFrame(np.random.rand(36).reshape((6,6)), 
                   index= ["row1", 'row2', 'row3', 'row4', 'row5', 'row6'],
                   columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])
df_obj

          col1      col2      col3      col4      col5      col6
row1  0.180270  0.019475  0.463219  0.724934  0.420204  0.485427
row2  0.012781  0.487372  0.941807  0.850795  0.729964  0.108736
row3  0.893904  0.857154  0.165087  0.632334  0.020484  0.116737
row4  0.316367  0.157912  0.758980  0.818275  0.344624  0.318799
row5  0.111661  0.083953  0.712726  0.599543  0.055674  0.479797
row6  0.401676  0.847979  0.717849  0.602064  0.552384  0.949102

In [ ]:
df_obj.loc[['row2', 'row5'], ['col2', 'col5']]

          col2      col5
row2  0.487372  0.729964
row5  0.083953  0.055674

In [ ]:
series_obj['row2' : 'row7']
# df_obj['row2':'row5']['col2':'col5']

Empty DataFrame
Columns: [col1, col2, col3, col4, col5, col6]
Index: []

Comparison with scalar

In [ ]:
series_obj < 8
df_obj < 0.2

       col1   col2   col3   col4   col5   col6
row1   True   True  False  False  False  False
row2   True  False  False  False  False   True
row3  False  False   True  False   True   True
row4  False   True  False  False  False  False
row5   True   True  False  False   True  False
row6  False  False  False  False  False  False

In [ ]:
series_obj[series_obj > 5]
df_obj.loc[['row1', 'row5'], ['col2', 'col5']] = 100
df_obj

          col1        col2      col3      col4        col5      col6
row1  0.180270  100.000000  0.463219  0.724934  100.000000  0.485427
row2  0.012781    0.487372  0.941807  0.850795    0.729964  0.108736
row3  0.893904    0.857154  0.165087  0.632334    0.020484  0.116737
row4  0.316367    0.157912  0.758980  0.818275    0.344624  0.318799
row5  0.111661  100.000000  0.712726  0.599543  100.000000  0.479797
row6  0.401676    0.847979  0.717849  0.602064    0.552384  0.949102

## Working with missing values